/* 超链接 */
a:link, a:visited, a:hover, a:active {
    color: blue; /* 统一所有超链接的颜色 */
    /* text-decoration: none; 去除下划线 */
}

/* 背景颜色 */
body {
    margin: 2rem;
    background-color: #D0E9D6;
}

/* 字体 */
html {
    font-size: 18px;
}

.show-on-small-screen {
    display: none;
}
/* 设置code关键字 */
code {
    /* margin: 0;  去掉默认的外边距 */
    white-space: pre; /* 保留空格和换行符 */
    font-family: monospace; /* 使用等宽字体 */
    background-color: #f4f4f4; /* 可选：背景色 */
    padding: 0.5rem; /* 可选：内边距 */
    display: block; /* 将code设置为块级元素，类似<pre> */
    border: 1px solid #ddd; /* 可选：加一个边框 */
    /* margin-bottom: 1rem; 可选：下方留一点间距 */
}

@media (max-width: 359px) {
    .show-on-small-screen {
        display: inline;
    }
}

/* mobile phone */
@media (max-width: 600px) {
    html {
        font-size: 14px;
    }
}

/* iPad */
@media (min-width: 601px) and (max-width: 800px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 801px) and (max-width: 1024px) {
    html {
        font-size: 18px;
    }
}

/* desktop */
@media (min-width: 1025px) {
    html {
        font-size: 22px;
    }
}
